.panels{
    margin: 8px;
    width:  256px;
    height: 128px;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
    flex-wrap:nowrap;
    flex-shrink:0;
}
.topbar{
    height:260px;
    overflow-x:auto;
    display: flex;
    flex-direction: row;
    max-height: 180px;

}