.display{
    display: block;
    height:400px;
    max-height: 400px;
    padding: 8px;
    overflow-x:auto;
    flex-direction: row;
    max-height: 400px;
    margin-left:auto;
    margin-right:auto;
}